<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8083/8083385.png">
    <title>Заказ</title>
</head>
<header>
    <form th:method="GET" th:action="@{/index}">
        <input class="logo" type="submit" value="Book Store">
    </form>
    <nav>
        <form th:method="GET" th:action="@{/search}">
            <input class="navigation" type="submit" value="ПОИСК">
        </form>
        <form th:method="GET" th:action="@{/catalog}">
            <input class="navigation" type="submit" value="КАТАЛОГ">
        </form>
        <form th:method="GET" th:action="@{/orders}"
              th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}">
            <input class="navigation selected" type="submit" value="ЗАКАЗЫ">
        </form>
        <form th:method="GET" th:action="@{/users}"
              th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}">
            <input class="navigation" type="submit" value="ПОЛЬЗОВАТЕЛИ">
        </form>
        <form th:method="GET" th:action="@{/basket}"
              th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_USER')}">
            <input class="navigation" type="submit" value="КОРЗИНА">
        </form>
        <form th:method="GET" th:action="@{/order/list}"
              th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_USER')}">
            <input class="navigation" type="submit" value="ЗАКАЗЫ">
        </form>
        <form th:method="GET" th:action="@{/profile}"
              th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_USER')}">
            <input class="navigation" type="submit" value="ПРОФИЛЬ">
        </form>
        <form th:method="POST" th:action="@{/logout}">
            <input class="navigation" type="submit" value="ВЫХОД">
        </form>
    </nav>
</header>
<body>
<h1>Детализация по заказу</h1>
<hr>
<div th:each="header :${order}">
    <h2 th:text="'Заказ № ' + ${header.getNumber()}" th:href="@{/order/{id}(id=${header.getId()})}"></h2>
    <p th:text="'Дата заказа: ' + ${#temporals.format(header.getDateTime(), 'dd-MMM-yyyy')}"></p>

    <p th:text="'Пользователь: ' + ${header.getUser().getUsername()}"
       th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}"></p>
    <p th:text="'Email: ' + ${header.getUser().getEmail()}"
       th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}"></p>
    <p th:text="'Телефон: ' + ${header.getUser().getPhone_number()}"
       th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}"></p>

    <form th:method="POST" th:action="@{/order/{id}(id=${header.getId()})}" th:object="${order}"
          th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}">
        <div th:each="change : ${order}">

            <input type="hidden" th:name="user" th:value="${change.getUser().getId()}">

            <input type="hidden" th:name="date_time" th:value="${change.getDateTime()}">

            <input type="hidden" th:name="number" th:value="${change.getNumber()}">

            <label>Изменить статус:</label>
                <select class="input_space" th:field="*{status}">
                    <option th:each="status : ${T(com.example.bookstore.models.Status).values()}"
                            th:value="${status}" th:name="status" th:text="${status.getTitle()}" th:id="${status}"></option>
                </select>
            <br><br>
            <input class="add_btn" type="submit" value="Сохранить"/>
        </div>
    </form>
    <hr><br>
</div>
<div th:each="details : ${orderDetails}">

        <div th:each="img : ${details.getProduct().getImageList()}">
            <img th:src="'/img/' + ${img.getFileName()}" alt="product_img" class="product_img" height="200px">
        </div>
        <p th:text="${details.getProduct().getCategory().getName()}"></p>
        <h3 th:text="${details.getProduct().getTitle()}"></h3>
        <h4 th:text="${details.getProduct().getAuthor()}"></h4>
        <p th:text="'Издательство: ' + ${details.getProduct().getPublishing_house()}"></p>
        <p th:text="'Год издания: ' + ${details.getProduct().getYear_of_publishing()}"></p>
        <p th:text="'Количество: ' + ${details.getCount()}"></p>
        <p th:text="'Цена: ' + ${details.getPrice()}"></p>
        <hr>

</div>
</body>
</html>