<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8083/8083385.png">
    <title>Список заказов</title>
</head>
<header>
    <form th:method="GET" th:action="@{/index}">
        <input class="logo" type="submit" value="Book Store">
    </form>
    <nav>
        <form th:method="GET" th:action="@{/search}">
            <input class="navigation" type="submit" value="ПОИСК">
        </form>
        <form th:method="GET" th:action="@{/catalog}">
            <input class="navigation" type="submit" value="КАТАЛОГ">
        </form>
        <form th:method="GET" th:action="@{/admin/orders}">
            <input class="navigation selected" type="submit" value="ЗАКАЗЫ">
        </form>
        <form th:method="GET" th:action="@{/users}">
            <input class="navigation" type="submit" value="ПОЛЬЗОВАТЕЛИ">
        </form>
        <form th:method="POST" th:action="@{/logout}">
            <input class="navigation" type="submit" value="ВЫХОД">
        </form>
    </nav>
</header>
<body>
<h1>Заказы</h1>
<hr>
<br>
<form th:method="GET" th:action="@{/admin/order/search}">
    <fieldset>
        <legend>Поиск заказа</legend>
        <br>
        <label for="number">Номер заказа</label>
        <input type="text" name="number" id="number" th:value="*{value_number}"><br><br>
        <button th:type="submit">Найти</button>
    </fieldset><br>
</form>


<div th:each="order : ${ordersList}">
    <div>
        <a th:text="'Заказ № ' + ${order.getNumber()}" th:href="@{/admin/order/{id}(id=${order.getId()})}"></a>
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p th:text="'Статус: ' + ${order.getStatus().getTitle()}">
    </div>
    <hr>
</div>

<div th:each="order : ${searchOrder}">
    <a th:text="'Заказ № ' + ${order.getNumber()}" th:href="@{/admin/order/{id}(id=${order.getId()})}"></a>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Статус: ' + ${order.getStatus().getTitle()}">
    <hr>
</div>

</body>
</html>