<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/index.css" th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8083/8083385.png">
    <title>Профиль</title>
</head>
<header>
    <form th:method="GET" th:action="@{/index}">
        <input class="logo" type="submit" value="Book Store">
    </form>
    <nav>
        <form th:method="GET" th:action="@{/search}">
            <input class="navigation" type="submit" value="ПОИСК">
        </form>
        <form th:method="GET" th:action="@{/catalog}">
            <input class="navigation" type="submit" value="КАТАЛОГ">
        </form>
        <form th:method="GET" th:action="@{/basket}">
            <input class="navigation" type="submit" value="КОРЗИНА">
        </form>
        <form th:method="GET" th:action="@{/order/list}">
            <input class="navigation" type="submit" value="ЗАКАЗЫ">
        </form>
        <form th:method="GET" th:action="@{/profile}">
            <input class="navigation selected" type="submit" value="ПРОФИЛЬ">
        </form>
        <form th:method="POST" th:action="@{/logout}">
            <input class="navigation" type="submit" value="ВЫХОД">
        </form>
    </nav>
</header>
<body>
<h1>Профиль пользователя</h1>
<hr><br>
<div th:each="user : ${userProfile}">
  <div>
    <div th:text="'Имя пользователя: ' + ${user.getUsername()}"></div><br>
    <div th:text="'Электронная почта: ' + ${user.getEmail()}"></div><br>
    <div th:text="'Телефон: ' + ${user.getPhone_number()}"></div><br>
  </div>
  <hr>
</div>
</body>
</html>